# Android Open Accessory devices
# Copy to /etc/udev/rules.d to grant access for group plugdev.

# Android Open Accessory device variants (Accessory/Audio/ADB)
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="2d0[0-5]", GROUP="plugdev", MODE="0660"
